#body{
  margin-top: 10px;
  background: rgba(98,93,240,1);
  background: -moz-linear-gradient(left, rgba(98,93,240,1) 0%, rgba(246,41,12,1) 0%, rgba(61,39,230,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,93,240,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(100%, rgba(61,39,230,1)));
  background: -webkit-linear-gradient(left, rgba(98,93,240,1) 0%, rgba(246,41,12,1) 0%, rgba(61,39,230,1) 100%);
  background: -o-linear-gradient(left, rgba(98,93,240,1) 0%, rgba(246,41,12,1) 0%, rgba(61,39,230,1) 100%);
  background: -ms-linear-gradient(left, rgba(98,93,240,1) 0%, rgba(246,41,12,1) 0%, rgba(61,39,230,1) 100%);
  background: linear-gradient(to right, rgba(98,93,240,1) 0%, rgba(246,41,12,1) 0%, rgba(61,39,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#625df0', endColorstr='#3d27e6', GradientType=1 );
}
